# ===== 应用(宿主机 java -jar)连接中间件:mysql/redis 用 127.0.0.1 =====
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=benblog
DB_USERNAME=benblog
DB_PASSWORD=13579@Lym
REDIS_DATABASE=1
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=123456
# 关键:浏览器访问图片/音乐时用的地址,必须是能访问到服务器的局域网 IP
MINIO_ENDPOINT="http://<SERVER_LAN_IP>:9000"
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ben-blog-data

# ===== 仅 docker 中间件使用 =====
MYSQL_ROOT_PASSWORD=13579@Lym
